body {
  background-color: #ddd;
}

#card {
  margin: 30px auto 0;
  display: none;
}

#card a {
  text-decoration: none;
  color: #444;
}

#card.open {
  display: block;
}

#searchForm {
  margin: 30px auto 0;
  max-width: 345px;
  box-sizing: border-box;
}

.MuiCardMedia-root {
  background-size: contain !important;
}

@media screen and (max-width: 480px) {
  #searchForm {
    width: 90%;
  }
}
